<nav>
    <div class="site-title">
        <a href="/competitions/home" class="nav-home"><h1>Rankers</h1></a>
        <!-- <p>Competition Management site</p> -->
        <h1>Welcome, <%= user.username %></h1> 
    </div>

    <ul>
        <% if (user.isAdmin) { %>
            <li><a href="/admins/adminUsers">Users</a></li>
            <li><a href="/admins/authenticate">Authenticate Users</a></li>
        <% } else { %>
            <li><a href="/profile/<%= user._id %>">Profile</a></li>
            <li><a href="/competitions/myComps/<%= user._id %>">My Competitions</a></li>
            <li><a href="/followers/<%= user._id %>">Followers and Followings</a></li>
            <li><a href="/notifications/<%= user._id %>">Notifications</a></li>
        <% } %>
        <li><a href="/signout">Sign Out</a></li>
    </ul>
</nav>