<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

    <% if (!user.isAdmin && !user.hostAuth) { %>
        <div class="apply-for-host">
            <a href="/competitions/applyhost" class="btn">Apply for Host</a>
        </div>
    <% } %>

    <div class="Competition Content">
        <h2>All Competitions</h2>

        <!-- Search bar -->
        <form id="searchForm" class="search-form" action="/competitions/home" method="GET">
            <input type="text" name="search" placeholder="Search by genre or title">
            <button type="submit">Search</button>
        </form>

        <a href="/competitions/createcomp">Create New Competition</a>

        <% if (comps.length > 0) { %>
            <% comps.forEach(comp => { %>
                <% if (!comp.finished) { %>
                    <div class="competition">
                        <a class="single" href="/competitions/<%= comp._id %>">
                            <h3 class="title"><%= comp.title %></h3>
                        </a>
                        <p class="genre">Genre: <%= comp.genre %></p>
                        <div class="host announcement-author">
                            <div class="host-info">
                                <p>By: <a href="/profile/<%= comp.host._id%>"><%= comp.hostUsername %></a></p>
                            </div>
                            <div class="host-rating">
                                <h4>Host Rating: <%= comp.host.avgRating %></h4>
                            </div>
                        </div>
                        <% if (user.isAdmin || user._id.toString() === comp.host._id.toString()) { %>
                            <form id="deleteForm<%= comp._id %>" style="display:inline;">
                                <button type="button" class="delete-button" onclick="deleteCompetition('<%= comp._id %>')">
                                    <img src="/trashcan.svg" alt="delete icon">
                                </button>
                            </form>
                        <% } %>
                    </div>
                <% } %>
            <% }); %>
        <% } else { %>
            <p>There are no Competitions</p>
        <% } %>        
         
    </div>
    <script>
        function deleteCompetition(competitionId) {
            if (confirm('Are you sure you want to delete this competition?')) {
                fetch(`/competitions/${competitionId}/delete`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        // Reload the page or update the UI as needed
                        location.reload();
                    } else {
                        // Handle errors
                        console.error('Error deleting competition');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>

    <%- include('../partials/footer.ejs') %>
</body>
</html>