<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="notifications content">
        <h2>Notifications</h2>
        <ul>
            <% user.notifications.forEach(notification => { %>
                <li<% if (notification.type === 'question' || notification.type === 'announcement' || notification.type === 'judge request' || notification.type === 'end') { %> style="color: red;"<% } %>>
                    <%= notification.content %> - <%= getTimeSince(notification.createdAt) %>
                    <% if (notification.type === "judge request") { %>
                        <form action="/competitions/<%= notification.comp._id %>/judgeAccept" method="POST">
                            <button type="submit" class="accept-button">Accept</button>
                        </form>
                        <form action="/competitions/<%= notification.comp._id %>/judgeReject" method="POST">
                            <button type="submit" class="reject-button">Reject</button>
                        </form>
                    <% } %>
                </li>
            <% }); %>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>